<h1>Component Pages</h1>

<div class="buttons">
  <%= button_tag 'Button 1', class: 'btn btn-primary' %>
  <%= button_tag 'Button 2', class: 'btn btn-secondary' %>
  <%= button_tag 'Button 3', class: 'btn btn-success' %>
  <%= button_tag 'Button 4', class: 'btn btn-danger' %>
</div>
